
{% extends "base.html" %}
{% block title %}New Recipe{% endblock %}

{% block content %}

    <h1>Create A New Recipe</h1>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(cols=40, rows=4) }}
        </p>
        <p>
            {{ form.ingredients.label }}<br>
            {{ form.ingredients(cols=40, rows=4) }}
        </p>
        <p>
            {{ form.instructions.label }}<br>
            {{ form.instructions(cols=40, row=4) }}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <nav>
        <ul>
            <li><a href="{{ url_for('recipes') }}">Back to Recipes</a></li>
            <li><a href="{{ url_for('logout') }}">Press Here for Logout</a></li>
        </ul>
    </nav>
{% endblock %}


