
<html lang='en'>
<head>
<meta charset="UTF-8">
<form method="POST">
	<title>{{ profile.username }}</title>
</head>
<body>
	<h1>About User {{ profile.username }}</h1>
	{{ profile.bio }}<br>
	<h2>My Recipes</h2>
<table>
	<tr>
	<th>Title</th>
	{% for recipe in recipes %}
	<td><a href="{{ url_for('recipe_details', id=recipe.id) }}">{{ recipe.title }}</a></td>
	</tr>
	{% endfor %}
</table>

<nav>
    <ul>
        <li><a href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
        <li><a href="{{ url_for('recipes') }}">Back to Recipes</a></li>
        <li><a href="{{ url_for('logout') }}">Press Here for Logout</a></li>
	</ul>
    </nav>
</body>
</html>

